{% if "gardenEntry" in tags %}<meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/astronomy.svg">{% else %}<meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/{{note-icon}}.svg">{% endif %}