{% if "gardenEntry" in tags %}<meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/astronomy.svg">{% elif noteIcon in [0,1,2,3,4,5] %}<meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/note-icon-{{noteIcon}}.svg">{% endif %}