{% if "gardenEntry" in tags %}<meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/astronomy.svg">{% elif noteIcon in ["seedling","sapling","tree","axe","boots","fertilizer"]%}<meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/{{noteIcon}}.svg">{% endif %}