<script src="https://unpkg.com/lucide@0.274.0/dist/umd/lucide.min.js"></script>
<script>
lucide.createIcons({
            attrs: {
                class: ["svg-icon"]
            }
        });
</script>