{% favicons './src/site/favicon.svg', appleIconBgColor='#000' %}
<meta name="description" content="{% if info %}{{ info }}{% elif title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}">
<meta property="og:description" content="{% if info %}{{ info }}{% elif title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}">
<meta property="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/202308312102955.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="eAzC2hbvcHUrLOQa0hXeIGWaQqvhhm_rt3VZI0TpstU" />
<link href="https://cdn.jsdelivr.net/gh/blleng/blog@gh-page/styles/base.230903.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/blleng/blog@gh-page{{meta.themeStyle}}" rel="stylesheet">
<link href="/styles/custom-style.css" rel="stylesheet">
{%- for style in dynamics.styles -%}
<link href="{{style}}" rel="stylesheet">
{%- endfor -%}
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css"/>
{% if meta.styleSettingsCss %}
<style>
    {{ meta.styleSettingsCss | safe }}
</style>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/mermaid@9.4.0/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
    });
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.6.2/dist/fetch.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/force-graph@1.43.3/dist/force-graph.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.13.0/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>