<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/gh/blleng/blog@gh-page/styles/base.23083004.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/blleng/blog@gh-page{{meta.themeStyle}}" rel="stylesheet">
<link href="/styles/custom-style.css" rel="stylesheet">
{%- for style in dynamics.styles -%}
<link href="{{style}}" rel="stylesheet">
{%- endfor -%}
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css"/>
{% favicons './src/site/favicon.svg', appleIconBgColor='#123' %}
{% if metatags %}
    {% for name, content in metatags %}
    <meta name="{{ name }}" content="{{ content }}">
    {% endfor %}
{% endif %}
{% if "gardenEntry" in tags %}
    <meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/astronomy.svg">
    {% elif noteIcon in [1,2,3,4,5,6] %}
    <meta name="og:image" content="https://cdn.jsdelivr.net/gh/blleng/images/upload/note-icon-{{noteIcon}}.svg">
{% endif %}
{% if meta.styleSettingsCss %}
<style>
    {{ meta.styleSettingsCss | safe }}
</style>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/mermaid@9.4.0/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
    });
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
{%include "components/calloutScript.njk"%}
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.6.2/dist/fetch.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/force-graph@1.43.3/dist/force-graph.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.13.0/dist/cdn.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js" defer></script>
<script async src="https://cdn.polyfill.io/v3/polyfill.min.js?features=es6"></script>