{% favicons './src/site/favicon.svg', appleIconBgColor='#000' %}
<meta name="author" content="Leng Bing-Liang">
<meta name="keywords" content="blleng,Leng,moontains,moontain,blog,Bingliang,Bing-Liang,tech,life">
<meta name="description" content="{% if info %}{{ info }}{% elif title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}">
<meta property="og:description" content="{% if info %}{{ info }}{% elif title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}">
<meta property="og:image" content="https://cdn.freezing.cool/images/202308312102955.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="eAzC2hbvcHUrLOQa0hXeIGWaQqvhhm_rt3VZI0TpstU" />
<link href="https://cdn.freezing.cool/blog/styles/base.230903.css" rel="stylesheet">
<link href="https://cdn.freezing.cool/blog/styles/_theme.f81e1d91.css" rel="stylesheet">
<link href="/styles/custom-style.css" rel="stylesheet">
{%- for style in dynamics.styles -%}
<link href="{{style}}" rel="stylesheet">
{%- endfor -%}
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/prism/1.25.0/themes/prism.min.css"/>
{% if meta.styleSettingsCss %}
<style>
    {{ meta.styleSettingsCss | safe }}
</style>
{% endif %}
<script src="https://unpkg.com/mermaid@9.4.0/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
    });
</script>