<div class="gotop" onclick="scrollToTop()"><i data-lucide="arrow-big-up-dash"></i></div>
<script>
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }
  const gotopbutton = document.querySelector('.gotop');
  window.addEventListener('scroll', () => {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      gotopbutton.style.opacity = '1';
      gotopbutton.style.visibility = "visible";
    } else {
      gotopbutton.style.opacity = "0";
      gotopbutton.style.visibility = "hidden";
    }
  });
</script>