<button class="gotop" onclick="scrollToTop()"><i  icon-name="arrow-big-up-dash" title="up" aria-hidden="true"></button>

<script>
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }
  const button = document.querySelector('.gotop');
  window.addEventListener('scroll', () => {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      button.style.display = 'block';
    } else {
      button.style.display = 'none';
    }
  });
</script>