body {
    --font-editor-theme: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Inter,Ubuntu,sans-serif;
    --font-editor: var(--font-editor-override),var(--font-text-override),var(--font-editor-theme)
}

body {
    --blockquote-style: normal;
    --blockquote-color: var(--text-muted);
    --blockquote-border-thickness: 1px;
    --blockquote-border-color: var(--quote-opening-modifier);
    --embed-block-shadow-hover: none;
    --font-ui-smaller: 11px;
    --normal-weight: 400;
    --bold-weight: 600;
    --link-weight: inherit;
    --inline-title-margin-bottom: 1rem;
    --h1-size: 1.125em;
    --h2-size: 1.05em;
    --h3-size: 1em;
    --h4-size: 0.90em;
    --h5-size: 0.85em;
    --h6-size: 0.85em;
    --h1-weight: 600;
    --h2-weight: 600;
    --h3-weight: 500;
    --h4-weight: 500;
    --h5-weight: 500;
    --h6-weight: 400;
    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: small-caps;
    --h6-variant: small-caps;
    --h1-style: normal;
    --h2-style: normal;
    --h3-style: normal;
    --h4-style: normal;
    --h5-style: normal;
    --h6-style: normal;
    --line-width: 40rem;
    --line-height: 1.5;
    --line-height-normal: var(--line-height);
    --max-width: 88%;
    --max-col-width: 18em;
    --icon-muted: 0.5;
    --nested-padding: 1.1em;
    --folding-offset: 32px;
    --list-edit-offset: 0.5em;
    --list-indent: 2em;
    --list-spacing: 0.075em;
    --input-height: 32px;
    --header-height: 40px;
    --metadata-label-width: 9rem;
    --metadata-label-font-size: var(--font-adaptive-small);
    --metadata-input-font-size: var(--font-adaptive-small);
    --mobile-left-sidebar-width: 280pt;
    --mobile-right-sidebar-width: 240pt;
    --top-left-padding-y: 0px;
    --image-muted: 0.7;
    --image-radius: 4px;
    --heading-spacing: 2em;
    --p-spacing: 1.75rem;
    --border-width: 1px;
    --table-border-width: var(--border-width);
    --table-selection: var(--text-selection);
    --table-selection-border-color: var(--text-accent);
    --table-selection-border-width: 0px;
    --table-selection-border-radius: 0px;
    --table-drag-handle-background-active: var(--text-selection);
    --table-drag-handle-color-active: var(--text-accent);
    --table-add-button-border-width: 0px;
    --file-margins: var(--size-4-2) var(--size-4-12)
}
body {
    --base-h: 0;
    --base-s: 0%;
    --base-l: 96%;
    --accent-h: 201;
    --accent-s: 17%;
    --accent-l: 50%
}

.theme-dark,.theme-light {
    --color-red-rgb: 208,66,85;
    --color-orange-rgb: 213,118,63;
    --color-yellow-rgb: 229,181,103;
    --color-green-rgb: 168,195,115;
    --color-cyan-rgb: 115,187,178;
    --color-blue-rgb: 108,153,187;
    --color-purple-rgb: 158,134,200;
    --color-pink-rgb: 176,82,121;
    --color-red: #d04255;
    --color-orange: #d5763f;
    --color-yellow: #e5b567;
    --color-green: #a8c373;
    --color-cyan: #73bbb2;
    --color-blue: #6c99bb;
    --color-purple: #9e86c8;
    --color-pink: #b05279
}

.theme-light,.theme-light.minimal-default-light,body .excalidraw {
    --bg1: white;
    --bg2: hsl( var(--base-h), var(--base-s), var(--base-l) );
    --bg3: hsla( var(--base-h), var(--base-s), calc(var(--base-l) - 50%), 0.12 );
    --ui1: hsl( var(--base-h), var(--base-s), calc(var(--base-l) - 6%) );
    --ui2: hsl( var(--base-h), var(--base-s), calc(var(--base-l) - 12%) );
    --ui3: hsl( var(--base-h), var(--base-s), calc(var(--base-l) - 20%) );
    --tx1: hsl( var(--base-h), var(--base-s), calc(var(--base-l) - 90%) );
    --tx2: hsl( var(--base-h), calc(var(--base-s) - 20%), calc(var(--base-l) - 45%) );
    --tx3: hsl( var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) - 25%) );
    --tx4: hsl( var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) - 60%) );
    --ax1: hsl( var(--accent-h), var(--accent-s), var(--accent-l) );
    --ax2: hsl( var(--accent-h), var(--accent-s), calc(var(--accent-l) - 8%) );
    --ax3: hsl( var(--accent-h), var(--accent-s), calc(var(--accent-l) + 6%) );
    --hl1: hsla( var(--accent-h), 50%, calc(var(--base-l) - 20%), 30% );
    --hl2: rgba(255, 225, 0, 0.5);
    --sp1: white
}

.excalidraw.theme--dark,.theme-dark,.theme-dark.minimal-default-dark,.theme-light.minimal-light-contrast .titlebar,.theme-light.minimal-light-contrast.minimal-status-off .status-bar {
    --accent-l: 60%;
    --base-l: 15%;
    --bg1: hsl( var(--base-h), var(--base-s), var(--base-l) );
    --bg2: hsl( var(--base-h), var(--base-s), calc(var(--base-l) - 2%) );
    --bg3: hsla( var(--base-h), var(--base-s), calc(var(--base-l) + 40%), 0.12 );
    --ui1: hsl( var(--base-h), var(--base-s), calc(var(--base-l) + 6%) );
    --ui2: hsl( var(--base-h), var(--base-s), calc(var(--base-l) + 12%) );
    --ui3: hsl( var(--base-h), var(--base-s), calc(var(--base-l) + 20%) );
    --tx1: hsl( var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) + 67%) );
    --tx2: hsl( var(--base-h), calc(var(--base-s) - 20%), calc(var(--base-l) + 45%) );
    --tx3: hsl( var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) + 20%) );
    --tx4: hsl( var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) + 50%) );
    --ax1: hsl( var(--accent-h), var(--accent-s), var(--accent-l) );
    --ax2: hsl( var(--accent-h), var(--accent-s), calc(var(--accent-l) + 8%) );
    --ax3: hsl( var(--accent-h), var(--accent-s), calc(var(--accent-l) - 5%) );
    --hl1: hsla( var(--accent-h), 50%, 40%, 30% );
    --hl2: rgba(255, 177, 80, 0.3);
    --sp1: white
}

.theme-light.minimal-light-white {
    --background-primary: white;
    --background-secondary: white;
    --background-secondary-alt: white;
    --ribbon-background: white;
    --titlebar-background: white;
    --bg1: white
}

.theme-dark.minimal-dark-black {
    --base-d: 0%;
    --titlebar-background: black;
    --background-primary: black;
    --background-secondary: black;
    --background-secondary-alt: black;
    --ribbon-background: black;
    --background-modifier-hover: hsl( var(--base-h), var(--base-s), calc(var(--base-d) + 10%));
    --tx1: hsl( var(--base-h), var(--base-s), calc(var(--base-d) + 75%) );
    --tx2: hsl( var(--base-h), var(--base-s), calc(var(--base-d) + 50%) );
    --tx3: hsl( var(--base-h), var(--base-s), calc(var(--base-d) + 25%) );
    --ui1: hsl( var(--base-h), var(--base-s), calc(var(--base-d) + 12%) );
    --ui2: hsl( var(--base-h), var(--base-s), calc(var(--base-d) + 20%) );
    --ui3: hsl( var(--base-h), var(--base-s), calc(var(--base-d) + 30%) )
}

.theme-light {
    --mono100: black;
    --mono0: white
}

.theme-dark {
    --mono100: white;
    --mono0: black
}

.theme-dark,.theme-light,.theme-light.minimal-light-contrast .titlebar,.theme-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left,.theme-light.minimal-light-contrast.minimal-status-off .status-bar {
    --background-modifier-accent: var(--ax3);
    --background-modifier-border-focus: var(--ui3);
    --background-modifier-border-hover: var(--ui2);
    --background-modifier-border: var(--ui1);
    --background-modifier-form-field-highlighted: var(--bg1);
    --background-modifier-form-field: var(--bg1);
    --background-modifier-success: var(--color-green);
    --background-modifier-hover: var(--bg3);
    --background-modifier-active-hover: var(--bg3);
    --background-primary: var(--bg1);
    --background-primary-alt: var(--bg2);
    --background-secondary: var(--bg2);
    --background-secondary-alt: var(--bg1);
    --background-table-rows: var(--bg2);
    --checkbox-color: var(--ax3);
    --code-normal: var(--tx1);
    --divider-color: var(--ui1);
    --frame-divider-color: var(--ui1);
    --icon-color-active: var(--tx1);
    --icon-color-focused: var(--tx1);
    --icon-color-hover: var(--tx2);
    --icon-color: var(--tx2);
    --icon-hex: var(--mono0);
    --interactive-accent-hover: var(--ax1);
    --interactive-accent: var(--ax3);
    --interactive-hover: var(--ui1);
    --list-marker-color: var(--tx3);
    --modal-border-color: var(--ui2);
    --nav-item-background-active: var(--bg3);
    --nav-item-background-hover: var(--bg3);
    --nav-item-color: var(--tx2);
    --nav-item-color-active: var(--tx1);
    --nav-item-color-hover: var(--tx1);
    --nav-collapse-icon-color: var(--tx2);
    --nav-collapse-icon-color-collapsed: var(--tx2);
    --nav-indentation-guide-color: var(--ui1);
    --prompt-border-color: var(--ui3);
    --quote-opening-modifier: var(--ui2);
    --ribbon-background: var(--bg2);
    --scrollbar-active-thumb-bg: var(--ui3);
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: var(--ui1);
    --search-result-background: var(--bg1);
    --tab-text-color-focused-active: var(--tx1);
    --tab-outline-color: var(--ui1);
    --text-accent-hover: var(--ax2);
    --text-accent: var(--ax1);
    --text-blockquote: var(--tx2);
    --text-bold: var(--tx1);
    --text-code: var(--tx4);
    --text-error: var(--color-red);
    --text-faint: var(--tx3);
    --text-highlight-bg: var(--hl2);
    --text-italic: var(--tx1);
    --text-muted: var(--tx2);
    --text-normal: var(--tx1);
    --text-on-accent: var(--sp1);
    --text-selection: var(--hl1);
    --text-formatting: var(--tx3);
    --title-color-inactive: var(--tx2);
    --title-color: var(--tx1);
    --titlebar-background: var(--bg2);
    --titlebar-background-focused: var(--bg2);
    --titlebar-text-color-focused: var(--tx1);
    --workspace-background-translucent: hsla(var(--base-h),var(--base-s), var(--base-l), 0.7)
}

.theme-dark .view-actions,.theme-light .view-actions {
    --icon-color-active: var(--ax1)
}

.theme-light.minimal-light-contrast {
    --workspace-background-translucent: rgba(0,0,0,0.6)
}

.theme-light.minimal-light-contrast .theme-dark {
    --tab-container-background: var(--bg2);
    --ribbon-background-collapsed: var(--bg2)
}

.theme-light {
    --interactive-normal: var(--bg1);
    --interactive-accent-rgb: 220,220,220;
    --active-line-bg: rgba(0,0,0,0.035);
    --background-modifier-cover: hsla(var(--base-h),calc(var(--base-s) - 70%),calc(var(--base-l) - 20%),0.5);
    --text-highlight-bg-active: rgba(0, 0, 0, 0.1);
    --background-modifier-error: rgba(255,0,0,0.14);
    --background-modifier-error-hover: rgba(255,0,0,0.08);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --btn-shadow-color: rgba(0, 0, 0, 0.05)
}

.theme-dark {
    --interactive-normal: var(--bg3);
    --interactive-accent-rgb: 66,66,66;
    --active-line-bg: rgba(255,255,255,0.04);
    --background-modifier-cover: hsla(var(--base-h),var(--base-s), calc(var(--base-l) - 12%), 0.5);
    --text-highlight-bg-active: rgba(255, 255, 255, 0.1);
    --background-modifier-error: rgba(255,20,20,0.12);
    --background-modifier-error-hover: rgba(255,20,20,0.18);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --btn-shadow-color: rgba(0, 0, 0, 0.2)
}

.theme-light.minimal-light-white {
    --background-table-rows: var(--bg2)
}

.theme-light.minimal-light-tonal {
    --background-primary: var(--bg2);
    --background-primary-alt: var(--bg3);
    --background-table-rows: var(--bg3)
}

.theme-dark.minimal-dark-tonal {
    --ribbon-background: var(--bg1);
    --background-secondary: var(--bg1);
    --background-table-rows: var(--bg3)
}

.theme-dark.minimal-dark-black {
    --background-primary-alt: var(--bg3);
    --background-table-rows: var(--bg3);
    --modal-border: var(--ui2);
    --active-line-bg: rgba(255,255,255,0.085);
    --background-modifier-form-field: var(--bg3);
    --background-modifier-cover: hsla(var(--base-h),var(--base-s),calc(var(--base-d) + 8%),0.9);
    --background-modifier-box-shadow: rgba(0, 0, 0, 1)
}

body {
    --font-adaptive-normal: var(--font-text-size,var(--editor-font-size));
    --font-adaptive-small: calc(var(--font-ui-small) * 1.07);
    --font-adaptive-smaller: var(--font-ui-small);
    --font-adaptive-smallest: var(--font-ui-smaller);
    --line-width-wide: calc(var(--line-width) + 12.5%);
    --font-code: calc(var(--font-adaptive-normal) * 0.9);
    --table-text-size: calc(var(--font-adaptive-normal) * 0.875);
    --line-number-color: var(--text-faint);
    --line-number-color-active: var(--text-muted);
    --progress-outline: var(--background-modifier-border);
    --progress-complete: var(--text-accent);
    --checkbox-radius: 50%;
    --checkbox-top: 2px;
    --checkbox-left: 0px;
    --checkbox-margin: 0px 6px 0px -2em;
    --embed-max-height: none;
    --embed-decoration-style: solid;
    --embed-decoration-color: var(--background-modifier-border-hover);
    --adaptive-list-edit-offset: var(--list-edit-offset)
}
body:not(.hider-scrollbars).styled-scrollbars ::-webkit-scrollbar,body:not(.native-scrollbars) ::-webkit-scrollbar {
    width: 11px;
    background-color: transparent
}

body:not(.hider-scrollbars).styled-scrollbars ::-webkit-scrollbar:horizontal,body:not(.native-scrollbars) ::-webkit-scrollbar:horizontal {
    height: 11px
}

body:not(.hider-scrollbars).styled-scrollbars ::-webkit-scrollbar-corner,body:not(.native-scrollbars) ::-webkit-scrollbar-corner {
    background-color: transparent
}

body:not(.hider-scrollbars).styled-scrollbars ::-webkit-scrollbar-track,body:not(.native-scrollbars) ::-webkit-scrollbar-track {
    background-color: transparent
}

body:not(.hider-scrollbars).styled-scrollbars ::-webkit-scrollbar-thumb,body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 20px;
    border: 3px solid transparent;
    background-color: var(--background-modifier-border);
    border-width: 3px 3px 3px 3px;
    min-height: 45px
}
body:not(.minimal-strike-lists) {
    --checklist-done-decoration: none;
    --checklist-done-color: var(--text-normal)
}
.markdown-preview-view ol>li,.markdown-preview-view ul>li,.markdown-source-view ol>li,.markdown-source-view ul>li,.mod-cm6 .HyperMD-list-line.cm-line {
    padding-top: var(--list-spacing);
    padding-bottom: var(--list-spacing)
}
body {
    --pdf-dark-opacity: 1
}

.theme-dark:not(.pdf-shadows-on),.theme-light:not(.pdf-shadows-on) {
    --pdf-shadow: none;
    --pdf-thumbnail-shadow: none;
    --table-header-border-width: 0;
    --table-column-first-border-width: 0;
    --table-column-last-border-width: 0;
    --table-row-last-border-width: 0;
    --table-edge-cell-padding-first: 0;
    --table-edge-cell-padding-last: 0;
    --table-cell-padding: 4px 10px;
    --table-header-size: var(--table-text-size)
}
.markdown-rendered th {
    --table-header-size: var(--table-text-size)
}

.markdown-preview-view table,.markdown-source-view.mod-cm6 table {
    border: var(--border-width) solid var(--border-color);
    border-collapse: collapse
}

.markdown-preview-view td,.markdown-preview-view th,.markdown-source-view.mod-cm6 td,.markdown-source-view.mod-cm6 th {
    padding: var(--table-cell-padding)
}

.markdown-preview-view td:first-child,.markdown-preview-view th:first-child,.markdown-source-view.mod-cm6 td:first-child,.markdown-source-view.mod-cm6 th:first-child {
    padding-left: var(--table-edge-cell-padding-first)
}

.markdown-preview-view td:first-child .table-cell-wrapper,.markdown-preview-view th:first-child .table-cell-wrapper,.markdown-source-view.mod-cm6 td:first-child .table-cell-wrapper,.markdown-source-view.mod-cm6 th:first-child .table-cell-wrapper {
    padding-left: 0
}

.markdown-preview-view td:last-child,.markdown-preview-view th:last-child,.markdown-source-view.mod-cm6 td:last-child,.markdown-source-view.mod-cm6 th:last-child {
    padding-right: var(--table-edge-cell-padding-last)
}

.markdown-preview-view td:last-child .table-cell-wrapper,.markdown-preview-view th:last-child .table-cell-wrapper,.markdown-source-view.mod-cm6 td:last-child .table-cell-wrapper,.markdown-source-view.mod-cm6 th:last-child .table-cell-wrapper {
    padding-right: 0
}
body:not(.minimal-unstyled-tags) {
    --tag-size: 0.8em;
    --tag-padding-y: 0.2em;
    --tag-background: transparent;
    --tag-background-hover: transparent;
    --tag-color: var(--text-muted);
    --tag-border-width: 1px;
    --tag-border-color: var(--background-modifier-border);
    --tag-border-color-hover: var(--background-modifier-border-hover);
    --tag-color-hover: var(--text-normal)
}
h1,h2,h3,h4 {
    letter-spacing: -.02em
}
body,button,input {
    font-family: var(--font-interface)
}
.markdown-preview-view,.popover,.workspace-leaf-content[data-type=markdown] {
    font-family: var(--font-text)
}

.markdown-preview-view,.view-content>.cm-s-obsidian,.view-content>.markdown-source-view.mod-cm6.is-live-preview>.cm-scroller,body {
    font-size: var(--font-adaptive-normal);
    font-weight: var(--normal-weight)
}
body {
    --content-margin: auto;
    --content-margin-start: max( calc(50% - var(--line-width)/2), calc(50% - var(--max-width)/2) );
    --content-line-width: min(var(--line-width), var(--max-width))
}
body {
    --container-table-max-width: var(--max-width);
    --table-max-width: none;
    --table-width: auto;
    --table-margin: inherit;
    --table-wrapper-width: fit-content;
    --container-dataview-table-width: var(--line-width);
    --container-img-width: var(--line-width);
    --container-img-max-width: var(--max-width);
    --img-max-width: 100%;
    --img-width: auto;
    --img-margin-start: var(--content-margin-start);
    --img-line-width: var(--content-line-width);
    --container-chart-width: var(--line-width);
    --container-chart-max-width: var(--max-width);
    --chart-max-width: none;
    --chart-width: auto;
    --container-map-width: var(--line-width);
    --container-map-max-width: var(--max-width);
    --map-max-width: none;
    --map-width: auto;
    --container-iframe-width: var(--line-width);
    --container-iframe-max-width: var(--max-width);
    --iframe-max-width: none;
    --iframe-width: auto
}
table.dataview {
    --table-min-width: min(var(--line-width),var(--max-width))
}

.cards table.dataview {
    --table-width: 100%;
    --table-min-width: none
}

body {
    --table-drag-space: 16px;
    --container-table-margin: calc(var(--content-margin-start) - var(--table-drag-space));
    --container-table-width: calc(var(--line-width) + var(--table-drag-space)*2);
    --table-drag-padding: var(--table-drag-space)
}
body {
    --cards-min-width: 180px;
    --cards-max-width: 1fr;
    --cards-mobile-width: 120px;
    --cards-image-height: 400px;
    --cards-padding: 1.2em;
    --cards-image-fit: contain;
    --cards-background: transparent;
    --cards-border-width: 1px;
    --cards-aspect-ratio: auto;
    --cards-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)))
}
@media (max-width:400pt) {
    body {
        --cards-min-width:var(--cards-mobile-width)
    }
}
.cards table.dataview {
    --table-width: 100%;
    --table-edge-cell-padding-first: calc(var(--cards-padding)/2);
    --table-edge-cell-padding-last: calc(var(--cards-padding)/2);
    --table-cell-padding: calc(var(--cards-padding)/3) calc(var(--cards-padding)/2);
    line-height: 1.3
}

.cards table.dataview tbody {
    clear: both;
    padding: .5rem 0;
    display: grid;
    grid-template-columns: var(--cards-columns);
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem
}

.cards table.dataview>tbody>tr {
    background-color: var(--cards-background);
    border: var(--cards-border-width) solid var(--background-modifier-border);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 calc(var(--cards-padding)/3) 0;
    border-radius: 6px;
    overflow: hidden;
    transition: box-shadow .15s linear;
    max-width: var(--cards-max-width);
    height: auto
}

.cards table.dataview>tbody>tr:hover {
    border: var(--cards-border-width) solid var(--background-modifier-border-hover);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.05),0 1px 3px 1px rgba(0,0,0,.025);
    transition: box-shadow .15s linear
}

.cards table.dataview tbody>tr>td:first-child {
    font-weight: var(--bold-weight);
    border: none
}

.cards table.dataview tbody>tr>td:first-child a {
    display: block
}

.cards table.dataview tbody>tr>td:last-child {
    border: none
}

.cards table.dataview tbody>tr>td:not(:first-child) {
    font-size: calc(var(--table-text-size) * .9);
    color: var(--text-muted)
}

.cards table.dataview tbody>tr>td>* {
    padding: calc(var(--cards-padding)/3) 0
}

.cards table.dataview tbody>tr>td:not(:last-child):not(:first-child) {
    padding: 4px 0;
    border-bottom: 1px solid var(--background-modifier-border);
    width: calc(100% - var(--cards-padding));
    margin: 0 calc(var(--cards-padding)/2)
}

.cards table.dataview tbody>tr>td a {
    text-decoration: none
}

.cards table.dataview tbody>tr>td>button {
    width: 100%;
    margin: calc(var(--cards-padding)/2) 0
}

.cards table.dataview tbody>tr>td:last-child>button {
    margin-bottom: calc(var(--cards-padding)/6)
}

.cards table.dataview tbody>tr>td>ul {
    width: 100%;
    padding: .25em 0!important;
    margin: 0 auto!important
}

.cards table.dataview tbody>tr>td:has(img) {
    padding: 0!important;
    background-color: var(--background-secondary);
    display: block;
    margin: 0;
    width: 100%
}

.cards table.dataview tbody>tr>td img {
    aspect-ratio: var(--cards-aspect-ratio);
    width: 100%;
    object-fit: var(--cards-image-fit);
    max-height: var(--cards-image-height);
    background-color: var(--background-secondary);
    vertical-align: bottom
}
.cards table.dataview thead {
    user-select: none;
    width: 180px;
    display: block;
    float: right;
    position: relative;
    text-align: right;
    height: 24px;
    padding-bottom: 0
}
.cards.cards-cols-1,.list-cards.cards-cols-1 {
    --cards-columns: repeat(1, minmax(0, 1fr))
}

.cards.cards-cols-2,.list-cards.cards-cols-2 {
    --cards-columns: repeat(2, minmax(0, 1fr))
}
@media (max-width: 400pt) {
    .cards table.dataview tbody>tr>td:not(:first-child) {
        font-size:80%
    }
}

@media (min-width: 400pt) {
    .cards-cols-3 {
        --cards-columns:repeat(3, minmax(0, 1fr))
    }

    .cards-cols-4 {
        --cards-columns: repeat(4, minmax(0, 1fr))
    }

    .cards-cols-5 {
        --cards-columns: repeat(5, minmax(0, 1fr))
    }

    .cards-cols-6 {
        --cards-columns: repeat(6, minmax(0, 1fr))
    }

    .cards-cols-7 {
        --cards-columns: repeat(7, minmax(0, 1fr))
    }

    .cards-cols-8 {
        --cards-columns: repeat(8, minmax(0, 1fr))
    }
}
input[data-task="!"]:checked,input[data-task="*"]:checked,input[data-task="-"]:checked,input[data-task="<"]:checked,input[data-task=">"]:checked,input[data-task="I"]:checked,input[data-task="b"]:checked,input[data-task="c"]:checked,input[data-task="d"]:checked,input[data-task="f"]:checked,input[data-task="k"]:checked,input[data-task="l"]:checked,input[data-task="p"]:checked,input[data-task="u"]:checked,input[data-task="w"]:checked,li[data-task="!"]>input:checked,li[data-task="!"]>p>input:checked,li[data-task="*"]>input:checked,li[data-task="*"]>p>input:checked,li[data-task="-"]>input:checked,li[data-task="-"]>p>input:checked,li[data-task="<"]>input:checked,li[data-task="<"]>p>input:checked,li[data-task=">"]>input:checked,li[data-task=">"]>p>input:checked,li[data-task="I"]>input:checked,li[data-task="I"]>p>input:checked,li[data-task="b"]>input:checked,li[data-task="b"]>p>input:checked,li[data-task="c"]>input:checked,li[data-task="c"]>p>input:checked,li[data-task="d"]>input:checked,li[data-task="d"]>p>input:checked,li[data-task="f"]>input:checked,li[data-task="f"]>p>input:checked,li[data-task="k"]>input:checked,li[data-task="k"]>p>input:checked,li[data-task="l"]>input:checked,li[data-task="l"]>p>input:checked,li[data-task="p"]>input:checked,li[data-task="p"]>p>input:checked,li[data-task="u"]>input:checked,li[data-task="u"]>p>input:checked,li[data-task="w"]>input:checked,li[data-task="w"]>p>input:checked {
    --checkbox-marker-color: transparent;
    border: none;
    border-radius: 0;
    background-image: none;
    background-color: currentColor;
    -webkit-mask-size: var(--checkbox-icon);
    -webkit-mask-position: 50% 50%
}

input[data-task=">"]:checked,li[data-task=">"]>input:checked,li[data-task=">"]>p>input:checked {
    color: var(--text-faint);
    transform: rotate(90deg);
    -webkit-mask-position: 50% 100%;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z' /%3E%3C/svg%3E")
}

input[data-task="<"]:checked,li[data-task="<"]>input:checked,li[data-task="<"]>p>input:checked {
    color: var(--text-faint);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z' clip-rule='evenodd' /%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="?"]:checked,li[data-task="?"]>input:checked,li[data-task="?"]>p>input:checked {
    --checkbox-marker-color: transparent;
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
    background-position: 50% 50%;
    background-size: 200% 90%;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"%3E%3Cpath fill="white" fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215c0 1.344-.665 2.288-1.79 2.973c-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712c1.03-.632 1.397-1.135 1.397-2.028c0-.979-.758-1.698-1.926-1.698c-1.009 0-1.71.529-1.938 1.402c-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09c0-.618-.473-1.092-1.095-1.092c-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"%2F%3E%3C%2Fsvg%3E')
}

.theme-dark input[data-task="?"]:checked,.theme-dark li[data-task="?"]>input:checked,.theme-dark li[data-task="?"]>p>input:checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"%3E%3Cpath fill="black" fill-opacity="0.8" fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215c0 1.344-.665 2.288-1.79 2.973c-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712c1.03-.632 1.397-1.135 1.397-2.028c0-.979-.758-1.698-1.926-1.698c-1.009 0-1.71.529-1.938 1.402c-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09c0-.618-.473-1.092-1.095-1.092c-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"%2F%3E%3C%2Fsvg%3E')
}

input[data-task="/"]:checked,li[data-task="/"]>input:checked,li[data-task="/"]>p>input:checked {
    background-image: none;
    background-color: transparent;
    position: relative;
    overflow: hidden
}

input[data-task="/"]:checked:after,li[data-task="/"]>input:checked:after,li[data-task="/"]>p>input:checked:after {
    top: 0;
    left: 0;
    content: " ";
    display: block;
    position: absolute;
    background-color: var(--background-modifier-accent);
    width: calc(50% - .5px);
    height: 100%;
    -webkit-mask-image: none
}

input[data-task="!"]:checked,li[data-task="!"]>input:checked,li[data-task="!"]>p>input:checked {
    color: var(--color-orange);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="\""]:checked,input[data-task="“"]:checked,li[data-task="\""]>input:checked,li[data-task="\""]>p>input:checked,li[data-task="“"]>input:checked,li[data-task="“"]>p>input:checked {
    --checkbox-marker-color: transparent;
    background-position: 50% 50%;
    background-color: var(--color-cyan);
    border-color: var(--color-cyan);
    background-size: 75%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M6.5 10c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.318.142-.686.238-1.028.466c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.945c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 6.5 10zm11 0c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.317.143-.686.238-1.028.467c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.944c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 17.5 10z"%2F%3E%3C%2Fsvg%3E')
}

.theme-dark input[data-task="\""]:checked,.theme-dark input[data-task="“"]:checked,.theme-dark li[data-task="\""]>input:checked,.theme-dark li[data-task="\""]>p>input:checked,.theme-dark li[data-task="“"]>input:checked,.theme-dark li[data-task="“"]>p>input:checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="black" fill-opacity="0.7" d="M6.5 10c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.318.142-.686.238-1.028.466c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.945c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 6.5 10zm11 0c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.317.143-.686.238-1.028.467c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.944c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 17.5 10z"%2F%3E%3C%2Fsvg%3E')
}

input[data-task="-"]:checked,li[data-task="-"]>input:checked,li[data-task="-"]>p>input:checked {
    color: var(--text-faint);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

body:not(.tasks) .markdown-preview-view ul li[data-task="-"].task-list-item.is-checked,body:not(.tasks) .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task="-"]),body:not(.tasks) li[data-task="-"].task-list-item.is-checked {
    color: var(--text-faint);
    text-decoration: line-through solid var(--text-faint) 1px
}

input[data-task="*"]:checked,li[data-task="*"]>input:checked,li[data-task="*"]>p>input:checked {
    color: var(--color-yellow);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z' /%3E%3C/svg%3E")
}

input[data-task="l"]:checked,li[data-task="l"]>input:checked,li[data-task="l"]>p>input:checked {
    color: var(--color-red);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="i"]:checked,li[data-task="i"]>input:checked,li[data-task="i"]>p>input:checked {
    --checkbox-marker-color: transparent;
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    background-position: 50%;
    background-size: 100%;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="40" d="M196 220h64v172"%2F%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="40" d="M187 396h138"%2F%3E%3Cpath fill="white" d="M256 160a32 32 0 1 1 32-32a32 32 0 0 1-32 32Z"%2F%3E%3C%2Fsvg%3E')
}

.theme-dark input[data-task="i"]:checked,.theme-dark li[data-task="i"]>input:checked,.theme-dark li[data-task="i"]>p>input:checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"%3E%3Cpath fill="none" stroke="black" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round" stroke-width="40" d="M196 220h64v172"%2F%3E%3Cpath fill="none" stroke="black" stroke-opacity="0.8" stroke-linecap="round" stroke-miterlimit="10" stroke-width="40" d="M187 396h138"%2F%3E%3Cpath fill="black" fill-opacity="0.8" d="M256 160a32 32 0 1 1 32-32a32 32 0 0 1-32 32Z"%2F%3E%3C%2Fsvg%3E')
}

input[data-task="S"]:checked,li[data-task="S"]>input:checked,li[data-task="S"]>p>input:checked {
    --checkbox-marker-color: transparent;
    border-color: var(--color-green);
    background-color: var(--color-green);
    background-size: 100%;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"%3E%3Cpath fill="white" fill-rule="evenodd" d="M26 8a2 2 0 1 0-4 0v2a8 8 0 1 0 0 16v8a4.002 4.002 0 0 1-3.773-2.666a2 2 0 0 0-3.771 1.332A8.003 8.003 0 0 0 22 38v2a2 2 0 1 0 4 0v-2a8 8 0 1 0 0-16v-8a4.002 4.002 0 0 1 3.773 2.666a2 2 0 0 0 3.771-1.332A8.003 8.003 0 0 0 26 10V8Zm-4 6a4 4 0 0 0 0 8v-8Zm4 12v8a4 4 0 0 0 0-8Z" clip-rule="evenodd"%2F%3E%3C%2Fsvg%3E')
}

.theme-dark input[data-task="S"]:checked,.theme-dark li[data-task="S"]>input:checked,.theme-dark li[data-task="S"]>p>input:checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"%3E%3Cpath fill-opacity="0.8" fill="black" fill-rule="evenodd" d="M26 8a2 2 0 1 0-4 0v2a8 8 0 1 0 0 16v8a4.002 4.002 0 0 1-3.773-2.666a2 2 0 0 0-3.771 1.332A8.003 8.003 0 0 0 22 38v2a2 2 0 1 0 4 0v-2a8 8 0 1 0 0-16v-8a4.002 4.002 0 0 1 3.773 2.666a2 2 0 0 0 3.771-1.332A8.003 8.003 0 0 0 26 10V8Zm-4 6a4 4 0 0 0 0 8v-8Zm4 12v8a4 4 0 0 0 0-8Z" clip-rule="evenodd"%2F%3E%3C%2Fsvg%3E')
}

input[data-task="I"]:checked,li[data-task="I"]>input:checked,li[data-task="I"]>p>input:checked {
    color: var(--color-yellow);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z' /%3E%3C/svg%3E")
}

input[data-task="f"]:checked,li[data-task="f"]>input:checked,li[data-task="f"]>p>input:checked {
    color: var(--color-red);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="k"]:checked,li[data-task="k"]>input:checked,li[data-task="k"]>p>input:checked {
    color: var(--color-yellow);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="u"]:checked,li[data-task="u"]>input:checked,li[data-task="u"]>p>input:checked {
    color: var(--color-green);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="d"]:checked,li[data-task="d"]>input:checked,li[data-task="d"]>p>input:checked {
    color: var(--color-red);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="w"]:checked,li[data-task="w"]>input:checked,li[data-task="w"]>p>input:checked {
    color: var(--color-purple);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M6 3a1 1 0 011-1h.01a1 1 0 010 2H7a1 1 0 01-1-1zm2 3a1 1 0 00-2 0v1a2 2 0 00-2 2v1a2 2 0 00-2 2v.683a3.7 3.7 0 011.055.485 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0A3.7 3.7 0 0118 12.683V12a2 2 0 00-2-2V9a2 2 0 00-2-2V6a1 1 0 10-2 0v1h-1V6a1 1 0 10-2 0v1H8V6zm10 8.868a3.704 3.704 0 01-4.055-.036 1.704 1.704 0 00-1.89 0 3.704 3.704 0 01-4.11 0 1.704 1.704 0 00-1.89 0A3.704 3.704 0 012 14.868V17a1 1 0 001 1h14a1 1 0 001-1v-2.132zM9 3a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm3 0a1 1 0 011-1h.01a1 1 0 110 2H13a1 1 0 01-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E")
}

input[data-task="p"]:checked,li[data-task="p"]>input:checked,li[data-task="p"]>p>input:checked {
    color: var(--color-green);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z' /%3E%3C/svg%3E")
}

input[data-task="c"]:checked,li[data-task="c"]>input:checked,li[data-task="c"]>p>input:checked {
    color: var(--color-orange);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z' /%3E%3C/svg%3E")
}

input[data-task="b"]:checked,li[data-task="b"]>input:checked,li[data-task="b"]>p>input:checked {
    color: var(--color-orange);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z' /%3E%3C/svg%3E")
}
body {
    --frame-background: hsl( var(--frame-background-h), var(--frame-background-s), var(--frame-background-l));
    --frame-icon-color: var(--frame-muted-color)
}

.theme-light {
    --frame-background-h: var(--accent-h);
    --frame-background-s: var(--accent-s);
    --frame-background-l: calc(var(--accent-l) + 30%);
    --frame-outline-color: hsla( var(--frame-background-h), var(--frame-background-s), calc(var(--frame-background-l) - 6.5%), 1 );
    --frame-muted-color: hsl( var(--frame-background-h), calc(var(--frame-background-s) - 10%), calc(var(--frame-background-l) - 35%))
}

.theme-dark {
    --frame-background-h: var(--accent-h);
    --frame-background-s: var(--accent-s);
    --frame-background-l: calc(var(--accent-l) - 25%);
    --frame-outline-color: hsla( var(--frame-background-h), calc(var(--frame-background-s) - 2%), calc(var(--frame-background-l) + 6.5%), 1 );
    --frame-muted-color: hsl( var(--frame-background-h), calc(var(--frame-background-s) - 10%), calc(var(--frame-background-l) + 25%))
}
.markdown-rendered img:not(.emoji),.markdown-rendered video,.markdown-source-view img:not(.emoji),.markdown-source-view video {
    border-radius: var(--image-radius)
}
:root {
    --image-mix: normal
}
.image-blend-light {
    --image-mix: multiply
}

.theme-dark .markdown-preview-view img,.theme-dark .markdown-source-view img {
    opacity: var(--image-muted);
    transition: opacity .25s linear
}

.theme-dark .markdown-preview-view img:hover,.theme-dark .markdown-source-view img:hover,.theme-dark .print-preview img {
    opacity: 1;
    transition: opacity .25s linear
}

.theme-light img {
    mix-blend-mode: var(--image-mix)
}
body {
    --image-grid-fit: cover;
    --image-grid-background: transparent;
    --img-grid-gap: 0.5rem
}

@media (max-width: 400pt) {
    body {
        --img-grid-gap:0.25rem
    }
}
body:not(.links-int-on) {
    --link-decoration: none
}

body:not(.links-ext-on) {
    --link-external-decoration: none
}
body {
    --minimal-tab-text-color: var(--text-muted);
    --minimal-tab-text-color-active: var(--text-normal)
}
body:not(.full-file-names) {
    --nav-item-white-space: nowrap
}
.theme-dark,.theme-light {
    --h1l: var(--ui1);
    --h2l: var(--ui1);
    --h3l: var(--ui1);
    --h4l: var(--ui1);
    --h5l: var(--ui1);
    --h6l: var(--ui1)
}
body {
    --canvas-dot-pattern: var(--background-modifier-border-hover)
}
body {
    --calendar-dot-active: var(--text-faint);
    --calendar-dot-today: var(--text-accent)
}
.theme-dark,.theme-light {
    --chart-color-1: var(--color-blue);
    --chart-color-2: var(--color-red);
    --chart-color-3: var(--color-yellow);
    --chart-color-4: var(--color-green);
    --chart-color-5: var(--color-orange);
    --chart-color-6: var(--color-purple);
    --chart-color-7: var(--color-cyan);
    --chart-color-8: var(--color-pink)
}
.markdown-rendered table.dataview {
    margin-block-start:0;margin-block-end:0
}
:root {
    --hider-ribbon-display: none
}
.theme-dark,.theme-light {
    --he-title-bar-inactive-bg: var(--background-secondary);
    --he-title-bar-inactive-pinned-bg: var(--background-secondary);
    --he-title-bar-active-pinned-bg: var(--background-secondary);
    --he-title-bar-active-bg: var(--background-secondary);
    --he-title-bar-inactive-fg: var(--text-muted);
    --he-title-bar-active-fg: var(--text-normal);
    --he-title-bar-font-size: 14px
}

.theme-light {
    --popover-shadow: 0px 2.7px 3.1px rgba(0, 0, 0, 0.032),0px 5.9px 8.7px rgba(0, 0, 0, 0.052),0px 10.4px 18.1px rgba(0, 0, 0, 0.071),0px 20px 40px rgba(0, 0, 0, 0.11)
}

.theme-dark {
    --popover-shadow: 0px 2.7px 3.1px rgba(0, 0, 0, 0.081),0px 5.9px 8.7px rgba(0, 0, 0, 0.131),0px 10.4px 18.1px rgba(0, 0, 0, 0.18),0px 20px 40px rgba(0, 0, 0, 0.28)
}
.theme-light {
    --leaflet-buttons: var(--bg1);
    --leaflet-borders: rgba(0,0,0,0.1)
}

.theme-dark {
    --leaflet-buttons: var(--bg2);
    --leaflet-borders: rgba(255,255,255,0.1)
}
body.theme-light {
    --color-axis-label: var(--tx1);
    --color-tick-label: var(--tx2);
    --color-dot-fill: var(--ax1);
    --color-line: var(--ui1)
}
