<div id="forest-graph">
    <div class="forest-body">
        {% for row in userComputed.forest.trees %}
        <div class="forest-row">
            {% for tree in row %}
            {% if tree[0] == 0 %}
            <span class="tree plane">
                <span></span>
            </span>
            {% else %}
            <a class="tree" href="{{tree[1]}}" title="{{tree[2]}}">
                {% if tree[0] == 1 %}<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyMWJhOGMiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zcHJvdXQiPjxwYXRoIGQ9Ik03IDIwaDEwIi8+PHBhdGggZD0iTTEwIDIwYzUuNS0yLjUuOC02LjQgMy0xMCIvPjxwYXRoIGQ9Ik05LjUgOS40YzEuMS44IDEuOCAyLjIgMi4zIDMuNy0yIC40LTMuNS40LTQuOC0uMy0xLjItLjYtMi4zLTEuOS0zLTQuMiAyLjgtLjUgNC40IDAgNS41Ljh6Ii8+PHBhdGggZD0iTTE0LjEgNmE3IDcgMCAwIDAtMS4xIDRjMS45LS4xIDMuMy0uNiA0LjMtMS40IDEtMSAxLjYtMi4zIDEuNy00LjYtMi43LjEtNCAxLTQuOSAyeiIvPjwvc3ZnPg==" alt="" style="width: auto;height: {{5 + (10 * tree[3])}}px;" />
                {% elif tree[0] == 2 %}<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzOTlmMzIiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zaHJ1YiI+PHBhdGggZD0iTTEyIDIydi03bC0yLTIiLz48cGF0aCBkPSJNMTcgOHYuOEE2IDYgMCAwIDEgMTMuOCAyMHYwSDEwdjBBNi41IDYuNSAwIDAgMSA3IDhoMGE1IDUgMCAwIDEgMTAgMFoiLz48cGF0aCBkPSJtMTQgMTQtMiAyIi8+PC9zdmc+" alt="" style="width: auto;height: {{5 + (10 * tree[3])}}px;" />
                {% elif tree[0] == 3 %}<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyNTc5MmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXRyZWUtZGVjaWR1b3VzIj48cGF0aCBkPSJNOCAxOWg4YTQgNCAwIDAgMCAzLjgtMi44IDQgNCAwIDAgMC0xLjYtNC41YzEtMS4xIDEtMi43LjQtNC0uNy0xLjItMi4yLTItMy42LTEuN2EzIDMgMCAwIDAtMy0zIDMgMyAwIDAgMC0zIDNjLTEuNC0uMi0yLjkuNS0zLjYgMS43LS43IDEuMy0uNSAyLjkuNCA0YTQgNCAwIDAgMC0xLjYgNC41QTQgNCAwIDAgMCA4IDE5WiIvPjxwYXRoIGQ9Ik0xMiAxOXYzIi8+PC9zdmc+" alt="" style="width: auto;height: {{5 + (10 * tree[3])}}px;" />
                {% elif tree[0] == 4 %}<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNjZDg2MjMiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1sZWFmIj48cGF0aCBkPSJNMTEgMjBBNyA3IDAgMCAxIDkuOCA2LjFDMTUuNSA1IDE3IDQuNDggMTkgMmMxIDIgMiA0LjE4IDIgOCAwIDUuNS00Ljc4IDEwLTEwIDEwWiIvPjxwYXRoIGQ9Ik0yIDIxYzAtMyAxLjg1LTUuMzYgNS4wOC02QzkuNSAxNC41MiAxMiAxMyAxMyAxMiIvPjwvc3ZnPg==" alt="" style="width: auto;height: {{5 + (10 * tree[3])}}px;" />
                {% elif tree[0] == 5 %}<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNlNjdhN2EiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1taWxlc3RvbmUiPjxwYXRoIGQ9Ik0xOCA2SDVhMiAyIDAgMCAwLTIgMnYzYTIgMiAwIDAgMCAyIDJoMTNsNC0zLjVMMTggNloiLz48cGF0aCBkPSJNMTIgMTN2OCIvPjxwYXRoIGQ9Ik0xMiAzdjMiLz48L3N2Zz4=" alt="" style="width: auto;height: {{5 + (10 * tree[3])}}px;" />
                {% elif tree[0] == 6 %}<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzYzk2YzMiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1kcm9wbGV0cyI+PHBhdGggZD0iTTcgMTYuM2MyLjIgMCA0LTEuODMgNC00LjA1IDAtMS4xNi0uNTctMi4yNi0xLjcxLTMuMTlTNy4yOSA2Ljc1IDcgNS4zYy0uMjkgMS40NS0xLjE0IDIuODQtMi4yOSAzLjc2UzMgMTEuMSAzIDEyLjI1YzAgMi4yMiAxLjggNC4wNSA0IDQuMDV6Ii8+PHBhdGggZD0iTTEyLjU2IDYuNkExMC45NyAxMC45NyAwIDAgMCAxNCAzLjAyYy41IDIuNSAyIDQuOSA0IDYuNXMzIDMuNSAzIDUuNWE2Ljk4IDYuOTggMCAwIDEtMTEuOTEgNC45NyIvPjwvc3ZnPg==" alt="" style="width: auto;height: {{5 + (10 * tree[3])}}px;" />
                {% endif %}
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="forest-legends">
        {% for count in userComputed.forest.legends %}
        <div class="stat" icon="{{count.icon}}" > {{count.count}} {{count.label}}</div>
        {% endfor %}
    </div>
</div>