.list-title, .term-title, .list-year, .list-month {
    font-family: 'glyph-correction', 'Cinzel Decorative', 'Noto Serif SC', serif;
}

.brand {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1;
}

.nav {
    font-size: 1em;
    margin-top: 0.4em;
}

.home .poetry {
    font-size: 1.2em;
    padding: 13em 1em 0 1em;
}
.home .links {
    bottom: 15%;
}
.faith {
    color: #f37055;
}
.mind {
    color: #a166ab;
}
.about {
    color: #07b39b;
}

.menu-item {
    margin-left: 1.5em;
}

@media (max-width: $maxWidth) {
    .home .poetry {
    font-size: 1em;
    }
    .nav {
        margin: 2em 0;
    }
    .menu-item-name {
        font-size: 80%;
    }
}

.nav-toggle {
    transform: translateY(0.4em);
}

.footer {
    letter-spacing: -0.1em;
}

@font-face {
    font-family: 'Amstelvar';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/blleng/blog/static/fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
         url('https://cdn.jsdelivr.net/gh/blleng/blog/static/fonts/Amstelvar-Roman-VF.woff2') format('woff2');
    font-weight: 100 900;
    font-stretch: 50% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'Amstelvar';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/blleng/blog/static/fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
         url('https://cdn.jsdelivr.net/gh/blleng/blog/static/fonts/Amstelvar-Italic-VF.woff2') format("woff2");
    font-weight: 100 900;
    font-stretch: 50% 125%;
    font-style: italic;
}

:root {
    --text-wdth: 90;
    --text-opsz: 80;
    --text-YTLC: 460;
}

body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'YTLC' var(--text-YTLC);
}

.list-item-time {
    font-feature-settings: 'tnum';
}
blockquote.quote {
    position: relative;
    margin: 2em auto;
    padding-left: 3em;
    color: inherit;
    border: none;
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
    }
    &.poetry {
        display: table;
        padding: 0;
        &::before {
            left: -1em;
        }
        p:last-child {
            margin: 0;
        }
    }
    &.en {
        p {
            line-height: 1.618;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
        }
    }
}

.app-refresh {
    background: #000;
    height: 0;
    line-height: 3em;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 42;
    padding: 0 1em;
    transition: all .3s ease;
}
.app-refresh-wrap {
    display: flex;
    color: #fff;
}
.app-refresh-wrap label {
    flex: 1;
}
.app-refresh-show {
    height: 3em;
}
